<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" >
    <div class="container-img" >
        <img id="img-of-the-day">
    </div>
    <div class="container-content">
        <div class="content vote">
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="content ">
            <label for="authorName">Author :</label>
            <input type="text" id="authorName">
        </div>
        <div class="content ">
            <label for="feedback">Feedback :</label>
            <textarea type="text" id="feedback"></textarea>
        </div>
        <div class="content ">
            <button>Comment</button>
        </div>
    </div>
</div>

</body>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=vlYNYybcm4ZhooNu6ILnHBv6ZgYXxhevUtcjOakR';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>