<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Document</title>
</head>
<body>
<div class="blog_form">
  <h2>Tạo Blog Mới</h2>
  <form th:action="@{/}" method="get" th:object="${detail}">
    <label for="blog_title">Tiêu đề:</label>
    <input type="text" id="blog_title" th:field="*{title}" placeholder="Nhập tiêu đề" readonly>
    <input type="text" hidden="hidden" th:field="*{id}" placeholder="Nhập tiêu đề" >
    <input type="text" hidden="hidden" th:field="*{summary}" placeholder="Nhập tiêu đề" >
    <label for="blog_content">Nội dung:</label>
    <textarea id="blog_content" name="blog_content" th:field="*{content}" placeholder="Nhập nội dung" readonly></textarea>
    <input type="submit" value="Back to List"/>
  </form>
</div>
</body>
</html>