<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--    <link th:href="@{/css/}" rel="stylesheet">-->
  <title>Document</title>
</head>
<body>
<h2>Quản lý danh sách bài hát</h2>
<p><a th:href="@{/createNewSong}">Thêm bài</a></p>
<div class="table-container">
  <table class="table">
    <tr>
      <th>Tên bài hát</th>
<!--      <th>Tác giả</th>-->
<!--      <th>Ảnh</th>-->
      <th>File nhạc</th>
<!--      <th>Ngày tháng cập nhật</th>-->
    </tr>
    <tr>
      <td>Song 1</td>
      <td>Author 1</td>
      <td><img src="path_to_image_1" alt="Image 1" width="50"></td>
      <td><a href="path_to_audio_1">Download</a></td>
      <td>2023-05-01</td>
    </tr>
    <tr>
      <td>Song 2</td>
      <td>Author 2</td>
      <td><img src="path_to_image_2" alt="Image 2" width="50"></td>
      <td><a href="path_to_audio_2">Download</a></td>
      <td>2023-05-10</td>
    </tr>
    <!-- Thêm các hàng khác tương tự ở đây -->
  </table>
</div>

</body>
</html>