<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<h2>Thêm bài hát</h2>
<form th:action="@{/addNewSong}" th:object="${FileUpload}">
    <p><a href="">Thêm bài</a></p>
    <div>
<!--        <input type="text" name="id" th:value=""/>-->
        <label>Tên bài hát</label>
        <input type="text" name="songName" />
    </div>
    <div>
        <label>Tác giả</label>
        <input type="text" name="author"/>
    </div>
    <div>
        <label>Ảnh</label>
        <input type="file" name="fileImgInput"/>
    </div>
    <div>
        <label>File nhạc</label>
        <input type="file" name="fileNameInput"/>
    </div>
    <div>
        <label>Mô tả</label>
        <input type="text" name="description"/>
    </div>
    <div>
        <label>Ngày</label>
        <input type="date" name="releaseDate"/>
    </div>
    <div><button type="submit">Thêm bài</button></div>
</form>
</body>
</html>